[package]
name = "terrashine"
version = "0.1.0"
edition = "2021"
author = "Isawan Millican"
about = "Terraform mirroring proxy"

[[test]]
name = "integration"
path = "integration/main.rs"


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html


[dependencies]
anyhow = "^1.0.75"
aws-sdk-s3 = { version = "^0.31.0" }
axum = { version = "^0.6.20", features = ["http2", "json", "tracing"] }
clap = { version = "^4.2.1", features = [
    "derive",
    "env",
    "unicode",
    "wrap_help",
] }
http = "0.2.9"
hyper = { version = "^0.14.27", features = ["full"] }
lazy_static = "1.4.0"
reqwest = { version = "0.11.14", features = [
    "rustls-tls-native-roots",
    "gzip",
    "deflate",
    "brotli",
    "stream",
] }
serde = { version = "^1.0.152", features = ["serde_derive"] }
serde_json = "^1.0.93"
thiserror = "^1.0.38"
tower = "^0.4.13"
tower-http = { version = "^0.4.3", features = [
    "tracing",
    "trace",
    "metrics",
    "util",
] }
tracing = "^0.1.37"
tracing-subscriber = { version = "^0.3.17", features = [
    "env-filter",
    "json",
    "tracing-log",
] }
url = { version = "^2.3.1", features = ["serde"] }
tokio = { version = "^1.33.0", features = ["full"] }
sqlx = { version = "^0.7.1", features = [
    "runtime-tokio",
    "tls-native-tls",
    "postgres",
] }
tokio-stream = "^0.1.14"
aws-config = { version = "0.56.0" }
aws-endpoint = "0.56.0"
futures = "0.3.28"
humantime = "2.1.0"
tokio-test = "0.4.2"
tokio-util = "0.7.8"
axum-prometheus = "0.4.0"
async-trait = "0.1.73"

[dev-dependencies]
axum-macros = "0.3.8"
tempfile = "3.8.0"
tracing-test = { version = "0.2.4", features = ["no-env-filter"] }
uuid = { version = "1.4.1", features = ["v4"] }

[build]
rustflags = ["--cfg", "tokio_unstable"]

[profile.release]
debug = 1
lto = "thin"
