[package]
name = "terrashine"
version = "0.1.0"
edition = "2021"
author = "Isawan Millican"
about = "Terraform mirroring proxy"

[[test]]
name = "integration"
path = "integration/main.rs"


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html


[dependencies]
anyhow = "^1.0.75"
aws-sdk-s3 = { version = "^1.4.0" }
axum = { version = "^0.7.1", features = ["http2", "json", "tracing"] }
clap = { version = "^4.4.10", features = [
    "derive",
    "env",
    "unicode",
    "wrap_help",
] }
http = "^1.0.0"
hyper = { version = "^1.0.1", features = ["full"] }
lazy_static = "1.4.0"
reqwest = { version = "0.11.22", features = [
    "rustls-tls-native-roots",
    "gzip",
    "deflate",
    "brotli",
    "stream",
] }
serde = { version = "^1.0.193", features = ["serde_derive"] }
serde_json = "^1.0.108"
thiserror = "^1.0.50"
tower = "^0.4.13"
tower-http = { version = "^0.5.0", features = [
    "tracing",
    "trace",
    "metrics",
    "util",
] }
tracing = "^0.1.40"
tracing-subscriber = { version = "^0.3.18", features = [
    "env-filter",
    "json",
    "tracing-log",
] }
url = { version = "^2.5.0", features = ["serde"] }
tokio = { version = "^1.34.0", features = ["full"] }
sqlx = { version = "^0.7.3", features = [
    "runtime-tokio",
    "tls-native-tls",
    "postgres",
] }
tokio-stream = "^0.1.14"
aws-config = { version = "^1.0.1" }
futures = "0.3.29"
humantime = "2.1.0"
tokio-test = "0.4.3"
tokio-util = "0.7.10"
axum-prometheus = "0.5.0"
async-trait = "0.1.74"
hyper-util = { version = "0.1.1", features = [
    "http1",
    "http2",
    "server",
    "server-auto",
] }

[dev-dependencies]
axum-macros = "0.3.8"
tempfile = "3.8.1"
tracing-test = { version = "0.2.4", features = ["no-env-filter"] }
uuid = { version = "1.6.1", features = ["v4"] }

[build]
rustflags = ["--cfg", "tokio_unstable"]

[profile.release]
debug = 1
lto = "thin"
