<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terrashine</title>
    <link rel="stylesheet" href="/ui/static/tailwind.css">

</head>

<body>
    <div>
        <!-- Banner -->
        <div class="flex items-center justify-center bg-gray-800">
            <h1 class="text-lg p-3 text-white">Terrashine</h1>
        </div>
        <div class="h-screen flex flex-row">
            <!-- Menu -->
            <div class="bg-gray-300 w-1/10">
                <a class="block p-2 pr-16 hover:bg-gray-800 hover:text-white" href="/ui/">Home</a>
                <a class="block p-2 pr-16 hover:bg-gray-800 hover:text-white" href="/ui/providers/">Provider</a>
                <a class="block p-2 pr-16 hover:bg-gray-800 hover:text-white" href="/ui/registries/">Registries</a>
                <a class="block p-2 pr-16 hover:bg-gray-800 hover:text-white" href="/ui/docs/index.html">Docs</a>
            </div>
            <!-- Content -->
            <div class=" bg-gray-50 w-9/10">
                {% block content %}<p> Placeholder</p>{% endblock %}
            </div>
        </div>
    </div>
</body>

</html>