name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  SQLX_OFFLINE: "true"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v2
      with:
        save-if: ${{ github.ref == 'refs/head/main' }}
        shared-key: "main"


    - name: Build
      run: cargo build --verbose
    - name: Run unit tests
      run: cargo test --verbose --lib
    - name: Start containers
      run: docker compose up -d
    - name: Install self signed certificate
      run: |
        until [ -f ./resources/test/certs/cert.pem ]; do sleep 1; done
        sudo cp ./resources/test/certs/cert.pem /usr/local/share/ca-certificates/localhost.crt && sudo update-ca-certificates
      timeout-minutes: 1
    - name: Show containers
      run: docker compose ps
    - name: Run integration tests
      run: cargo test --verbose --test integration
      env:
        AWS_ACCESS_KEY_ID: minioadmin
        AWS_SECRET_ACCESS_KEY: minioadmin
        AWS_REGION: us-east-1
    - name: Stop containers
      if: always()
      run: docker compose down

    - name: Build final release binary
      if: github.ref == 'refs/heads/main'
      run: ./scripts/release
    - name: Upload artifact
      if: github.ref == 'refs/heads/main'
      uses: actions/upload-artifact@v3
      with:
        name: terrashine-binary
        path: target/release/terrashine
